<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Confirm</title>
</head>

<body>
    <div class='container' style='padding: 1rem; '>
        <div style='display: flex; flex-direction: column; align-items: center;'>
            <div class='logo-section'>
                <img src='/assets/images/logo.png' width='50 '>
                <strong>Mang Macs's Food Shop</strong>
            </div>
            <div class='icon-section' style="padding: 1rem;">
                <i class='fa-regular fa-circle-check'></i>
            </div>
            <div style="text-align: center;">
                <h3>Your order has been confirmed!</h3>
                <!---Display customer name here using php-->
                <p>Hello".$customerName."</p>
                <p style="text-align:justify;">Thank you for purchasing at <b>Mang Mac's Food Shop.</b> Your order <span>".$orderNumber."</span> has been approved. You will receive another email when your order has been shipped.</p>
            </div>
            <hr>
        </div>
        <div>
            <strong>Order Summary</strong>
        </div>
        <div style='display: flex; justify-content: space-between;'>
            <p>Order Number</p>
            <p>".$orderNumber."</p>
        </div>
        <div style='display: flex; justify-content: space-between; margin: -20px 0;'>
            <p>Order Date</p>
            <p>".$orderDate."</p>
        </div>
        <div style='display: flex; justify-content: space-between;'>
            <p>Order Type</p>
            <p>".$orderType."</p>
        </div>
        <div>
            <div style="display: flex; flex-direction: row;">
                <div>
                    <img src="/assets/images/logo.png" width="150">
                </div>
                <div>
                    <p>Cheesy Pepperoni</p>
                    <p>Large</p>
                    <p> <span>Quantity:</span> <span>1</span></p>
                    <p><span>Price: PHP</span> <span> 0</span><span>.00</span></p>
                </div>
            </div>
            <hr>
        </div>
        <div>
            <div style="display:flex; flex-direction: row; align-items: center;">
                <h3>Total Amount:</h3>
                <p><span>0</span><span>.00</span></p>
            </div>
        </div>
        <hr>
        <div style='display: flex; flex-direction: column;'>
            <h3>Delivery Details</h3>
            <p><span style='margin: 0 55px 0 0;' '>Recepient Name:</span><span>sadfasdf</span></p>
            <p><span style='margin: 0 65px 0 0; '>Phone Number:</span><span>sadfasdf</span></p>
            <p><span style='margin: 0 49px 0 0; '>Shipping Address:</span><span>sadfasdf</span></p>
        </div>
        <div style='display:flex; flex-direction: column; align-items: center; '>
            <p>from</p>
            <strong>Mang Mac' s Food Shop</strong>
                <p>Zone 5, Barangay Sta. Lucia Bypass Road, Urdaneta, Philippines</p>
        </div>
    </div>

</body>

</html>